body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.home-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/book-images.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
    background: rgba(198, 198, 198, 0.655);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #53aef5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0e92d4;
}