<div class="main-container">
  <div *ngIf="book" class="book-details">
    <h1>{{ book.booktitle }}</h1>
    <p>Book-ID: {{ book.bookid }}</p>
    <p>Price: $ {{ book.bookprice }}</p>
    <p>Genre: {{ book.genre }}</p>
    <div class="summary-box">
      <h2>Summary</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
        adipisci autem rem deleniti asperiores consequatur molestias iure animi
        ea aliquam. Excepturi quae suscipit, dicta, esse aspernatur fuga ipsa
        similique facere commodi ducimus temporibus ab veniam iste sunt ullam
        aliquid quos fugiat cumque dolore nihil deserunt odit quisquam nisi!
        Dolorum, illum nulla. Praesentium nobis reprehenderit corrupti soluta,
        voluptates tempore voluptatum quis sit ipsum vel maxime dolorem eum,
        quaerat facere excepturi eaque maiores perspiciatis. Dicta minima
        adipisci quia non quam aperiam! Repellendus iste porro quidem,
        reiciendis dolorem quia, eligendi corporis incidunt aspernatur enim,
        iure eum possimus illo impedit assumenda earum cumque qui?
      </p>
    </div>
  </div>
</div>
